extends layout.pug

block content 
	nav.grid-container.portfolio-breadcrumb
		a(href='/') ← Back
	article.grid-container.portfolio-intro.portfolio-project
		.grid-x
			.cell.small-6.medium-9.large-9

				h1 Devon Gillis

				p.lead.text-light
				| Full Stack Web Developer.

				.portfolio-bio
					p With a passion for web development and watching projects come to life as I build them I love to program. I work long days and love learning new topics in the field.
				
			.cell.portfolio-meta.small-6.medium-2.large-3
				h6 Skills

				ul
					li HTML
					li CSS
					li Sass
					li Javascript
					li JQuery
					li PUG
					li Node.js
					li Express
					li Github
					li Dreamweaver
				h6 Contact Info

				ul
					li devongillis88@gmail.com

				a.button.expanded(href='https://www.linkedin.com/in/devon-gillis-0b8851164/' target='_blank') LinkedIn
				a.button.expanded(href='https://github.com/FDevonG' target='_blank') GitHub
				a.button.expanded(href='https://twitter.com/FDevonG' target='_blank') Twitter
	nav.grid-container.portfolio-breadcrumb
		a(href='/') ← Back